body{
	background-color: antiquewhite;
}

.form{
    font-size: 30px;
    position: absolute;
	top: -100px;
	right: 0px;
	bottom: 0px;
	left: -200px;
	margin: auto;

    width: 200px;
    height: 200px;
    text-align: center;
    zoom: 200%;
}

#send{
    font-size: 30px;
    padding:20px;
    margin:10px;
    position: relative;
    left:120px;
    border-radius: 10px;
    background-color: #bdc3c7;
}

[name=templateTextbox]{
    height: 30px;
    border-radius: 10px;
    text-align: center;
}

.sample{
    position: relative;
    top:-37px;
}

.sample input {
    display: none;

}

.sample .switch-on{
    font-size:30px;
    padding: 5px;
    text-align: center;
    
}

.sample .switch-off{
    font-size:30px;
    padding: 5px;
    text-align: center;
}

.sample label{
    display: block;
    float: left;
    cursor: pointer;
    width: 100px;
    background: #bdc3c7;
    color: #869198;
    font-size: 16px;
    text-align: center;
    line-height: 1;
    transition: .2s;
    
}

.sample label:first-of-type{
    border-radius: 3px 0 0 3px;
    position:absolute;
    left:200px;

}

.sample label:last-of-type{
    border-radius: 0 3px 3px 0;
    position:absolute;
    left:300px;

}

.sample input[type="radio"]:checked + .switch-on {
    background-color: deepskyblue;
    color: #fff;
    display: block;
    width: 100px;
    margin-right:auto; 
    margin-left:auto;
    border-radius: 3px 0 0 3px;

}

.sample input[type="radio"]:checked + .switch-off {
    background-color: violet;
    color: #fff;
    width: 90px;
    display:block;
    margin-right:auto; 
    margin-left:auto;
    border-radius: 0px 3px 3px 0px;

}