body {
	background-color:antiquewhite;
}

#all{
  position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
  margin: auto;
  zoom:200%;
}
/* ボタンのスタイル */
.button {
  width: 20%;
  height: 20%;
  font-size: 200%;
  position: relative;
  top:-20px;
  left: 30px;
  border: 1px solid gray;
  border-radius: 5px;
  text-align: center;
  background-color: gray;

}
/* マウスオーバー時のカラー */
.button:hover {
  border: 1px solid #b97ebb;
  background-color: #b97ebb;
} 
/* リンク領域のスタイル */
.button-a {
  display: block;
  padding: 7px 0;
  text-align: center;
  color: #fff;

}
/* マウスホバー時のカラー*/
.button-a:hover {
  color: #fff;
}

.box {
  width: 80px;
  height: 80px;
  border: 1px solid #000;
  text-align: center;
  position: absolute;
 
  border-radius: 80px;
  height: 80px;
  width: 80px; 
  
  display: flex; 
  align-items: center; 
  justify-content: center;
  font-weight:bolder;
}

.table {
  width: 200px;
  height: 100%;
  left: 150px;
  border: 1px solid #000;
  position: absolute;
  background-color: rgba(49, 23, 1, 0.623);
  z-index: 1;
}

.draggable {
  z-index: 2;
  background-color: rgb(246, 180, 255);
}

.snaptarget {
  background-color: azure;
}

.field {
  height: 500px;
  width: 500px;
  top: 50px;
  position: relative;
  background-color: antiquewhite;
  /* margin: 20px 0px; */
}

.update{
  text-align : center ;
  width: 500px;
  position: relative;
  height: 10%;
  
  }