body{
	background-color: antiquewhite;
}

#numberOfPersons{
	font-weight: bold;
	font-size: 30px;
}

#drop{
	font-weight: bold;
	font-size: 30px;
}

#buttonId{
	font-weight: bold;
	font-size: 30px;
}

#numberOfPersons{
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	margin: auto;

	width: 128px;
	height: 64px;
}

.btn-square {
	display: inline-block;
	padding: 0.5em 1em;
	text-decoration: none;
	background: #668ad8;/*ボタン色*/
	color: #FFF;
	border-bottom: solid 4px #627295;
	border-radius: 3px;
  }
  .btn-square:active {
	/*ボタンを押したとき*/
	-webkit-transform: translateY(4px);
	transform: translateY(4px);/*下に動く*/
	border-bottom: none;/*線を消す*/
  }