body{
	background-color: antiquewhite;
}

#buttonId{
	font-weight: bold;
	font-size: 60px;
}

#numberOfPersons{
	font-weight: bold;
	font-size: 60px;
	position: absolute;
	top: -500px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	margin: auto;

	width: 1200px;
	height: 64px;
	text-align: center;
}

  .person{
	text-align: center;
  }

  .button-radio input[type="radio"] {
	display:none; 

  }
  
  .button-radio label {
	display:inline-block;
	color:#fff;
	background-color:#869198;
	padding:20px 60px;
	margin:10px;
	font-size:60px;
	width:60px;
	text-align: center;
  }
  
  .button-radio input[type="radio"]:checked + label { 
	background-color:deepskyblue;
  }
  